<div class="container-fluid">
    <h2 class="mb-5">Create New Post</h2>
    <form id="new-post-form">
        <div class="mb-3">
            <label class="form-label" for="post-title"><h5>Post Title</h5></label>
            <input class="form-control" type="text" name="post-title"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="post-content"><h5>Post Content</h5></label>
            <textarea class="form-control" name="post-content" rows="3"></textarea>
        </div>
        <div class="mt-4">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>

    <script src="/js/newPost.js"></script>
</div>